In [1]:
import locale

from pyprojroot.here import here

here()
import pandas as pd
import duckdb
from janitor import clean_names
df = clean_names(pd.read_excel(here(r"data/QuebrasJuntoInc.xlsx")))
df

C:\Users\Plancha\Desktop\pfacd\.pixi\envs\default\Lib\site-packages\openpyxl\packaging\core.py:99: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  now = datetime.datetime.utcnow()
C:\Users\Plancha\Desktop\pfacd\.pixi\envs\default\Lib\site-packages\openpyxl\packaging\core.py:99: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  now = datetime.datetime.utcnow()

,codigo_do_relatorio,concelho,data_do_incidente,nivel_de_tensao,causa_do_incidente,duracao_incidente_min_,n_º_clientes_afetados,tiepi_mt_min_,saifi_mt_#_,saidi_mt_min_,...,indice_de_envelhecimento,rural,t_med,t_max,t_min,dd_med,dd_ffx,ff_med,ff_max,pr_qtd
0,EDPD_2018_JAN_T_1,Almada,2018-01-02,MT,Escavações,55,828.0,"0,0029345","0,0000443","0,0024563",...,157.9,0.000000,10.7,17.4,2.6,NaN,NaN,NaN,NaN,0.0
1,EDPD_2018_JAN_T_2,Sertã,2018-01-02,MT,Abate De Árvores,163,549.0,"0,0029335","0,0001770","0,0165009",...,260.2,1.000000,10.6,13.8,6.2,249.0,270.0,2.8,8.1,0.0
2,EDPD_2018_JAN_T_3,Felgueiras,2018-01-04,MT,Deslizamento De Terras,596,3459.0,"0,0192281","0,0002655","0,0359047",...,117.9,0.800000,14.0,14.8,12.9,197.0,180.0,3.9,14.4,4.0
3,EDPD_2018_JAN_T_4,Torres Vedras,2018-01-05,BT,Veículos,178,102.0,"0,0000000","0,0000000","0,0000000",...,156.4,0.923077,12.4,15.1,9.1,288.0,225.0,3.6,13.9,13.2
4,EDPD_2018_JAN_T_5,Nisa,2018-01-09,MT,Aves,119,1731.0,"0,0044221","0,0001549","0,0100377",...,467.9,1.000000,4.9,7.8,2.2,137.0,118.0,4.1,15.4,15.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7300,EDPD_2017_NOV_T_62,Ovar,2017-11-29,BT,Veículos,220,2.0,0,0,0,...,141.7,1.000000,10.3,14.3,6.3,NaN,NaN,NaN,NaN,0.0
7301,EDPD_2017_NOV_T_63,Santa Maria Da Feira,2017-11-03,BT,Veículos,92,1.0,0,0,0,...,134.6,0.000000,16.4,20.6,14.8,NaN,NaN,NaN,NaN,NaN
7302,EDPD_2017_NOV_T_64,Santa Maria Da Feira,2017-11-23,BT,Veículos,121,1.0,0,0,0,...,134.6,0.000000,17.9,22.6,14.6,NaN,NaN,NaN,NaN,8.1
7303,EDPD_2017_NOV_T_65,Almeirim,2017-11-03,BT,Descarga Atmosférica Directa,154,1.0,0,0,0,...,175.1,1.000000,15.0,20.8,12.8,186.0,186.0,2.5,11.0,NaN
7304,IGI_2017_DEZ_TC_001,Vila Nova De Famalicão,2017-12-10,"AT, MT, BT",Vento Intensidade Excepcional,2440,1058005.0,"17,100","0,330","29,300",...,124.3,0.794118,14.4,15.8,10.2,231.0,225.0,NaN,NaN,NaN

In [2]:
duckdb.query(r"select * from df where codigo_do_relatorio = 'EREDES_2022_JAN_T_22'")

┌──────────────────────┬──────────┬───────────────────┬─────────────────┬───┬────────┬────────┬────────┬────────┐
│ codigo_do_relatorio  │ concelho │ data_do_incidente │ nivel_de_tensao │ … │ dd_ffx │ ff_med │ ff_max │ pr_qtd │
│       varchar        │ varchar  │      varchar      │     varchar     │   │ double │ double │ double │ double │
├──────────────────────┼──────────┼───────────────────┼─────────────────┼───┼────────┼────────┼────────┼────────┤
│ EREDES_2022_JAN_T_22 │ Lagoa    │ 2022-01-18        │ MT              │ … │   85.0 │    4.5 │   10.6 │    0.0 │
├──────────────────────┴──────────┴───────────────────┴─────────────────┴───┴────────┴────────┴────────┴────────┤
│ 1 rows                                                                                   36 columns (8 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [3]:
alcoutim = duckdb.query(r"select * from df where concelho like '%lcou%'").df()
manteigas = duckdb.query(r"select * from df where concelho like '%teigas%'").df()
lagoa = duckdb.query(r"select * from df where concelho like '%agoa%'").df()
(len(alcoutim), len(manteigas), len(lagoa))

(0, 0, 14)

In [4]:
duckdb.query(r"select * from df where nivel_de_tensao == 'MT' order by concelho, data_do_incidente").df()

,codigo_do_relatorio,concelho,data_do_incidente,nivel_de_tensao,causa_do_incidente,duracao_incidente_min_,n_º_clientes_afetados,tiepi_mt_min_,saifi_mt_#_,saidi_mt_min_,...,indice_de_envelhecimento,rural,t_med,t_max,t_min,dd_med,dd_ffx,ff_med,ff_max,pr_qtd
0,EDPD_2014_MAR_T_081,Abrantes,2014-03-21,MT,Aves,124,1853.0,"0,028301","0,000553","0,029893",...,222.2,0.846154,12.2,15.8,8.4,211.0,321.0,2.4,7.2,0.5
1,EDPD_2014_JUN_T_035,Abrantes,2014-06-06,MT,Aves,168,2923.0,"0,010340","0,000884","0,035358",...,222.2,0.846154,16.3,21.2,13.7,189.0,203.0,4.1,13.1,19.3
2,EDPD_2014_SET_T_137,Abrantes,2014-09-13,MT,Malfeitoria/Vandalismo,159,6298.0,"0,005313","0,000469","0,013798",...,222.2,0.846154,21.2,27.8,16.9,196.0,186.0,1.5,7.5,0.1
3,EDPD_2015_MAR_T_016,Abrantes,2015-03-27,MT,Aves,338,2003.0,"0,0071687","0,0002352","0,0088462",...,231.6,0.846154,14.5,20.3,10.5,328.0,332.0,3.2,10.0,0.0
4,EDPD_2016_FEV_T_082,Abrantes,2016-02-23,MT,Abate De Árvores,67,78.0,"0,00073","0,00002","0,00148",...,241.5,0.846154,11.2,16.2,7.7,317.0,332.0,2.0,6.8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3406,EREDES_2022_MAR_T_41,Ílhavo,2022-03-17,MT,Aves,64,1921.0,"0,0012525","0,0000213","0,0013394",...,160.9,0.000000,14.4,17.7,11.7,44.0,85.0,3.2,11.8,0.0
3407,EREDES_2022_ABR_T_8,Ílhavo,2022-04-09,MT,Aves,92,1920.0,"0,0042615","0,0000745","0,0035010",...,160.9,0.000000,15.0,18.1,13.2,306.0,256.0,2.1,8.6,1.6
3408,EDPD_2014_MAR_T_034,Óbidos,2014-03-05,MT,Aves,94,2026.0,"0,007496","0,000323","0,014002",...,171.4,1.000000,NaN,NaN,NaN,344.0,309.0,3.1,11.2,1.8
3409,EDPD_2015_JUN_T_049,Óbidos,2015-06-28,MT,Aves,105,2048.0,"0,0045120","0,0000895","0,0093486",...,178.0,1.000000,19.1,26.0,11.9,316.0,321.0,2.3,9.3,0.0
3410,EDPD_2015_JUL_T_016,Óbidos,2015-07-24,MT,Aves,262,2975.0,"0,0159384","0,0001566","0,0448747",...,178.0,1.000000,20.6,24.2,17.0,324.0,326.0,3.0,10.9,0.4

In [5]:
descricao_das_colunas = {
  "codigo_do_relatorio":  "Identificador Unico do Incidente",
  "concelho_do_incidente": "Concelho onde ocorreu o incidente",
  "data_do_incidente": "Data do Incidente",
  "nivel_de_tensao": "Nivel de Tensao afetada (AT, MT, BT)",
  "causa_do_incidente": "O que causou o incidente",
  "duracao_incidente_min_": "Duração do Incidente (min)",
  "n_º_clientes_afetados": "Nº de clientes afetados",
  # OS INDICADORES GERAIS NAO PERCEBBO NADAAAAAAAAAAAAAAAAAAAAAAA
  "tiepi_mt_min_": "Tempo de interrupção de potência/energia, calculado a partir do valor médio da potência", # potencia do que?
  "saifi_mt_#_": "Número de interrupções por pontos de entrega (MT)",
  "saidi_mt_min_": "Número de interrupções*tempo de interrupcao por pontos de entrega (MT)",
  "end_mwh_": "Quantidade de Energia não distribuida pela rede MT (MWh)",
  "saidi_bt_min_": "Número de interrupções*tempo de interrupcao por cliente (BT)",
  "saidi_bt_#_": "Número de interrupções por cliente (BT)",
  "qualidade_de_energia_eletrica": "Qualidade da energia eletrica", # n sei
  "qualidade_de_servico_comercial": "Qualidade do serviço comercial", # n sei
  "fundamentacao": "Justificação para [não] aprovação",
  "decisao": "Se foi aprovado == Se é para ser considerado evento excecional ou imprevisto",
  # { estes sao desnecessarios
  "dia": "Dia do Incidente",
  "mes": "Mês do Incidente",
  "ano": "Ano do Incidente",
  "distrito": "Distrito onde ocorreu o incidente",
  # }
  "densidade_populacional": "Densidade populacional do concelho do ano",
  "populacao_residente": "População residente do concelho do ano",
  "setor_primario": "Nº de pessoas empregadas no setor primário do concelho em 2021", # TODO FALTA A DENSISADE
  "setor_secundario": "Nº de pessoas empregadas no setor secundário do concelho em 2021", # TODO FALTA A DENSISADE
  "setor_terciario": "Nº de pessoas empregadas no setor terciário do concelho em 2021", # TODO FALTA A DENSISADE
  "indice_de_envelhecimento": "Índice de envelhecimento do concelho por ano(?)",
  "rural": "Percentagem de população rural do concelho em 2021(?)",
  "t_med": "Temperatura média na capital do distrito do incidente no dia (ºC)",
  "t_max": "Temperatura máxima na capital do distrito do incidente no dia (ºC)",
  "t_min": "Temperatura mínima na capital do distrito do incidente no dia (ºC)",
  "dd_med": "n sei (º)", # TODO ver
  "dd_ffx": "n sei (º)", # TODO ver
  "ff_med": "intensidade do vento média na capital do distrito do incidente no dia (m/s)",
  "dd_max": "intensidade do vento máxima na capital do distrito do incidente no dia (m/s)",
  "pr_qtd": "Quantidade de precipitação na capital do distrito do incidente no dia (mm)",
}
# print the column names
duckdb.query(r"describe select * from df").df()

                       column_name column_type null   key default extra
0              codigo_do_relatorio     VARCHAR  YES  None    None  None
1                         concelho     VARCHAR  YES  None    None  None
2                data_do_incidente     VARCHAR  YES  None    None  None
3                  nivel_de_tensao     VARCHAR  YES  None    None  None
4               causa_do_incidente     VARCHAR  YES  None    None  None
5           duracao_incidente_min_     VARCHAR  YES  None    None  None
6            n_º_clientes_afetados      DOUBLE  YES  None    None  None
7                    tiepi_mt_min_     VARCHAR  YES  None    None  None
8                      saifi_mt_#_     VARCHAR  YES  None    None  None
9                    saidi_mt_min_     VARCHAR  YES  None    None  None
10                        end_mwh_     VARCHAR  YES  None    None  None
11                     saifi_bt_#_     VARCHAR  YES  None    None  None
12                   saidi_bt_min_     VARCHAR  YES  None    None  None
13   qualidade_de_energia_eletrica     VARCHAR  YES  None    None  None
14  qualidade_de_servico_comercial     VARCHAR  YES  None    None  None
15                   fundamentacao     VARCHAR  YES  None    None  None
16                         decisao     VARCHAR  YES  None    None  None
17                             dia      BIGINT  YES  None    None  None
18                             mes      BIGINT  YES  None    None  None
19                             ano      BIGINT  YES  None    None  None
20                        distrito     VARCHAR  YES  None    None  None
21          densidade_populacional      DOUBLE  YES  None    None  None
22             populacao_residente      BIGINT  YES  None    None  None
23                  setor_primario      BIGINT  YES  None    None  None
24                setor_secundario      BIGINT  YES  None    None  None
25                 setor_terciario      BIGINT  YES  None    None  None
26        indice_de_envelhecimento      DOUBLE  YES  None    None  None
27                           rural      DOUBLE  YES  None    None  None
28                           t_med      DOUBLE  YES  None    None  None
29                           t_max      DOUBLE  YES  None    None  None
30                           t_min      DOUBLE  YES  None    None  None
31                          dd_med      DOUBLE  YES  None    None  None
32                          dd_ffx      DOUBLE  YES  None    None  None
33                          ff_med      DOUBLE  YES  None    None  None
34                          ff_max      DOUBLE  YES  None    None  None
35                          pr_qtd      DOUBLE  YES  None    None  None

In [6]:
duckdb.sql(r"select distinct tiepi_mt_min_, end_mwh_ from df where nivel_de_tensao = 'BT'").df()

   tiepi_mt_min_   end_mwh_
0              0       None
1      0,0000000  0,0000000
2              0          0
3        0,00000    0,00000
4      0,0010347  0,0704240
5      0,0026700  0,2334447
6       0,011339       0,69
7      0,0000000  0,0100000
8      0,0000000      0.001
9      0,0000000  0,0010000
10      0,017303       1,18
11       0,00089    0,06025

In [8]:
# check which columns aren't YYYY-MM-DD in data_do_incidente
df[~df.data_do_incidente.str.match(r"\d{4}-\d{2}-\d{2}")]

Empty DataFrame
Columns: [codigo_do_relatorio, concelho, data_do_incidente, nivel_de_tensao, causa_do_incidente, duracao_incidente_min_, n_º_clientes_afetados, tiepi_mt_min_, saifi_mt_#_, saidi_mt_min_, end_mwh_, saifi_bt_#_, saidi_bt_min_, qualidade_de_energia_eletrica, qualidade_de_servico_comercial, fundamentacao, decisao, dia, mes, ano, distrito, densidade_populacional, populacao_residente, setor_primario, setor_secundario, setor_terciario, indice_de_envelhecimento, rural, t_med, t_max, t_min, dd_med, dd_ffx, ff_med, ff_max, pr_qtd]
Index: []

[0 rows x 36 columns]